img{
    height: 500px;
    width: 960px;

}

.bienvenidos{
    width: 70%;
    padding-right: 20px;
    box-sizing: border-box;
    margin-right: 10px;
}
.testimonios{
    width: 30%;

}
.testimonio .cita{
    background-color: rgb(145, 160, 117);
    font-style: italic;
    display: block;
    font-size: 22px;
}
.testimonio .autor{
    font-size: smaller;
    font-weight: bold;
    text-align: right;
    display: block;
    margin: 12px 0;

}
.columnas{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}