


.novedades{
    color: darkolivegreen;
    border-bottom: 1px solid darkgreen;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: antiquewhite;
   
}
.novedades.img{
    height: 300;
    width: 460;
    border-radius: 10px;
    display: flex;
    margin-right: auto;
  

}
h2{
    color: darkolivegreen;
    font-size:x-large;
}

