body{
  margin: 0;
  padding: 0;
}


header{
  background-color:#C0b99d;
  padding: 16px 0; /*1rem0*/
  text-align: center;
}
header h1{
  color: darkolivegreen;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  
  bottom: 20px;
  margin-left: 40px;
  
}

header img{
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

footer{
  background-color: gray;
  clear: both;
  padding: 50px 0;
  text-align: center;
  color: black;
  margin-top: 20px;

}