body{
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: darkolivegreen;
  font-weight: 400;
}

@media (max-width: 600px) {
  body{
  font-size: 12px;
  line-height: 15px;
  }
  .holder{
    max-width: 600px;
  }
}
@media (max-width: 900px) {
  body{
    font-size: 14px;
    line-height: 18px;
    }
    .holder{
      max-width: 900px;
  }
  }
